body, * {
  font-family: "Montserrat", sans-serif !important;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100% !important;
  overflow-x: hidden !important;
  background: #E4F1F3 !important; /* Light background instead of black */
}
